* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-logo {
    width: 600px;
}

.card-container {
    padding: 30px 50px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px 5px #9090909d;
}

.pokemon-img {
    width: 300px;
}

.poke-desc {
    display: flex;
}

.poke-desc div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poke-desc h2,
.poke-moves h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.poke-desc p,
.poke-moves p {
    text-transform: capitalize;
    font-size: 18px;
}

.poke-moves {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c4c4c4;
    padding: 20px 0;
    border-radius: 10px;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gen-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(239, 95, 43);
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.gen-btn:hover {
    background-color: rgb(237, 125, 85);
}