*{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

body{
	margin: 0;
	padding: 0;
	background-color: #2c3e50;
}

.loginbox{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); /*for centering position*/
	background-color: #191919;
	text-align: center;
}

h1	{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: white;
	font-size: .75em;
	text-decoration: none;
	transition: 0.25s; /*for transition hover color */
}

a:hover{
	color: #2ecc71;
}

.loginbox input[type = "text"], .loginbox input[type = "password"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s; /*for transition hover color */
}

.loginbox input[type = "text"]:focus, .loginbox input[type = "password"]:focus {
	border-color: #2ecc71;
}

.loginbox input[type = "submit"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s; /*for transition hover color */
	cursor: pointer;
}

.loginbox input[type = "submit"]:hover{
	background: #2ecc71;
}
