html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    user-select: none;
    font-smooth: always;
}

body {
    font-size: 2rem;
    font-family: 'Poppins', serif;
    color: #fff;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #fff;
    transition: all 0.25s ease;
}

a:hover {
    color: #b2b2b2;
    transform: translateY(-2px);
}

h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 500;
}

p {
    font-weight: 100;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    gap: 14rem;
}

.maple-logo {
    font-size: 5rem;
}

.hero-section {
    width: 100%;
    background-image: radial-gradient(closest-corner, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, .8) 100%), url("./img/boat.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero-wrapper h1 {
    font-family: 'Lora', serif;
    font-size: 8rem;
    margin-bottom: 25px;
}

.down-arrow {
    position: absolute;
    cursor: pointer;
    bottom: 5rem;
    font-size: 4rem;
    background-color: #00000082;
    padding: 1rem 2.6rem;
    border-radius: 50%;
    animation: up-down 2s ease-out infinite alternate;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(6px);
    }
}

.explore-section {
    width: 100%;
    background-color: #000;
    padding: 4rem 0;
}

.explore-section :first-child {
    flex-direction: column;
}

.explore-btn {
    margin-top: 50px;
}

.explore-title {
    text-align: center;
    max-width: 700px;
}

.cards-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Lora', serif;
    width: 350px;
    height: 450px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card h3 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(16, 83, 105);
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    border: #fff 1px solid;
    background-color: transparent;
}

.booking-container {
    background-image: radial-gradient(closest-corner, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, .8) 100%), url("https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

.form-container {
    padding: 4rem 6rem;
    background-color: #00000072;
    text-align: center;
    width: 60%;
}

.form-container button:hover {
    background-color: rgb(39, 122, 150);
    border: transparent 1px solid;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

input {
    padding: 1rem;
    font-size: 1.8rem;
    color: #fff;
    background: transparent;
    border: 1px #fff solid;
}

input::placeholder {
    color: #fff;
}

::-webkit-calendar-picker-indicator {
    background-color: #fff;

}

.gallery-section {
    background-color: #000;
    padding: 4rem 0;
}

.grid .card {
    height: auto;
    width: auto;
}

.grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 2rem;
}

.grid :nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.grid :nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}

footer {
    background-color: #000;
}